body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141313;
}

.calculator{
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f2f1f1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.screen{
    height: 60px;
    background-color: #000000;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    color: orange;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.button {
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease; 
}
.button:hover{
    background-color: #c2bbbb;
}

.button.clear{
    grid-column: span 2;
    background-color: #141313;
    color: #ccc;
}
.button.back{
    grid-column: span 2;
    background-color: #141313;
    color: #ccc;
}
.button.equal{
    background-color: #2196F3;
    color: #fff;
}

.button.operator{
    background-color: #FF9800;
    color: #fff;
}